.section {
    .default-btn {
        @apply grid z-0 place-items-center px-16 py-5 text-lg font-medium text-white hover:text-black border-2 border-[#232931] rounded-full bg-[#232931] relative overflow-hidden h-fit;

        &:before {
            content: "";
            @apply absolute top-full left-0 w-full h-full bg-white;
            transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
            will-change: transform;
        }

        &:hover:before {
            transform: translateY(-100%);
            z-index: -1;
        }
    }
    .primary {
        @apply hover:text-[#136452] bg-[#136452] border-[#136452] px-6 py-2;
        &:hover:before{
            z-index: -1;
        }
    }
}

.fade-up {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-up.show {
    opacity: 1;
    transform: translateY(0);
}