.section {
    @apply relative;
    .section-content {
        @apply flex items-center justify-center max-md:flex-col max-sm:px-8 max-xl:px-16;
    }
}

.home {
    @apply bg-white z-30 mt-[-1px];
    .section-content {
        clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 86%, 0 100%, 0 0);
        @media (max-width: 1024px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 92%, 0 100%, 0 0);
        }
        @media (max-width: 768px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 95%, 0 100%, 0 0);
        }
        @apply relative bg-[#08a885] pt-32 pb-[390px] max-md:flex-col-reverse max-md:pt-10 max-md:pb-72 max-lg:pb-80;
        .title {
            @apply text-center whitespace-pre-wrap text-[#0e1013] text-[2.8rem] font-[futura-pt] max-w-[800px] max-md:text-[2rem] max-md:leading-[1.5] max-lg:text-[2rem] max-xl:text-[2.5rem];
        }
        .home-img {
            @apply -ml-40 max-md:ml-0 max-md:w-1/2 max-lg:w-1/2 max-lg:-ml-20 max-xl:w-2/3 max-xl:ml-0;
        }
        .section-action-container {
            @apply absolute bottom-52 max-md:bottom-28 max-lg:bottom-28;
        }
    }
}

.digital-potential {
    @apply bg-[#08a885] z-20 mt-[-1px];
    .section-content {
        clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 86%, 0 100%, 0 0);
        @media (max-width: 1024px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 95%, 0 100%, 0 0);
        }
        @media (max-width: 768px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 97%, 0 100%, 0 0);
        }
        @apply pt-12 pb-72 bg-white gap-20 max-md:gap-12 max-xl:pb-36;
        .section-left-container {
            @apply flex items-center justify-center;
            img {
                @apply max-md:w-1/2;
            }
        }
        .section-right-container {
            @apply max-w-[600px] max-xl:max-w-[50%] max-md:max-w-full;
            .title {
                @apply text-[3rem] text-[#0e1013] whitespace-pre-wrap font-[futura-pt] max-lg:text-[2.5rem];
            }
            .sub-title {
                @apply text-[17px] text-[#0D2221] whitespace-pre-wrap leading-7 max-lg:text-base;
                strong {
                    @apply text-[#0e1013]
                }
            }
        }
    }
}

.services {
    @apply bg-white z-10 mt-[-1px];
    .section-content {
        clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 86%, 0 100%, 0 0);
        @media (max-width: 1024px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 95%, 0 100%, 0 0);
        }
        @media (max-width: 768px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 97%, 0 100%, 0 0);
        }
        @apply pt-28 pb-[500px] bg-[#08a885] gap-28 items-start max-md:pb-80 max-md:gap-20 max-md:items-center max-lg:gap-8 max-lg:pb-[400px];
        .section-left-container {
            @apply max-w-[450px] max-md:max-w-full max-lg:max-w-[50%];
            .title {
                @apply text-[4rem] text-[#0e1013] whitespace-pre-wrap font-[futura-pt] max-md:text-[3.5rem];
            }
            .sub-title {
                @apply text-[17px] text-[#0D2221] whitespace-pre-wrap leading-7;
                strong {
                    @apply text-[#0e1013]
                }
            }
        }
        .section-right-container {
            @apply max-w-[460px] min-w-[460px] border-t-[5px] border-[#097760] max-md:w-full max-md:max-w-full max-md:min-w-full max-lg:max-w-[50%] max-lg:min-w-[50%];
            .accordion-item {
                @apply border-b-[5px] border-[#097760];
                button {
                    @apply text-[1.6rem] font-[futura-pt] font-medium hover:no-underline !py-3 text-left;
                    svg {
                        @apply h-9 w-9;
                    }
                }
                p {
                    @apply text-[17px] text-[#0D2221] whitespace-pre-wrap leading-7;
                }
            }
        }
        .section-action-container {
            @apply absolute bottom-72 max-md:bottom-36 max-lg:bottom-44;
        }
    }
}

.cutting-edge-tech {
    @apply bg-[#0e1013] mt-[-1px];
    .section-content {
        clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 86%, 0 100%, 0 0);
        @media (max-width: 1024px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 95%, 0 100%, 0 0);
        }
        @media (max-width: 768px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 97%, 0 100%, 0 0);
        }
        @apply flex-col pt-36 pb-72 bg-white max-xl:pb-44;
        .title {
            @apply text-center whitespace-pre-wrap text-[#0e1013] !text-[2.2rem] font-[futura-pt];
        }
        .section-item-list {
            @apply flex flex-row flex-wrap max-w-[1400px] justify-center gap-x-16 gap-y-12 mt-20 mb-14 max-xl:px-0 max-xl:gap-x-8 max-xl:mt-16 max-xl:gap-y-8;
            .section-item {
                @apply flex items-center justify-center;
            }
        }
    }
    .section-footer {
        @apply text-[#0e1013] text-[0.9rem] text-center;
    }
}