
.legal {
    @apply bg-[#0e1013] mt-[-1px];
    .divider {
        @apply bg-white w-full h-32 max-lg:h-24;
        .divider-content {
            clip-path: polygon(50% 0%, 100% 0, 100% 90%, 100% 100%, 25% 12%, 0 100%, 0 0);   
            @media (max-width: 1024px) {
                clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 50%, 0 100%, 0 0);
            }
            @media (max-width: 768px) {
                clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 60%, 0 100%, 0 0);
            }
            @apply bg-[#08a885] w-full h-full;
        }
    }
    .section-content {
        clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 93%, 0 100%, 0 0);
        @media (max-width: 1024px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 95%, 0 100%, 0 0);
        }
        @media (max-width: 768px) {
            clip-path: polygon(50% 0%, 100% 0, 100% 60%, 100% 100%, 25% 97%, 0 100%, 0 0);
        }
        @apply flex-col pt-36 pb-80 bg-white z-20 mt-[-1px] max-lg:pb-36 max-lg:pt-24;
        .title {
            @apply text-center whitespace-pre-wrap text-[#0e1013] text-[2.8rem] font-[futura-pt] max-lg:text-[2.4rem];
        }
        .section-title {
            @apply max-w-[820px];
            .sub-title {
                @apply text-base text-[#0e1013CC] leading-7 mb-6;
            }
        }
    }
}